body {
    margin: 0;
    height: 100vh;
    align-items: center;
    justify-items: center;
    background: #2E3856;
    font-family: sans-serif;
    color: white;
    margin: auto;

}
.main__container {
    display: flex;
    align-items: center;
    justify-items: center;
}
.movie__container {
    display: block;
    text-align: center;
    padding: 25px;
}
.moviebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 270px;
    max-height: 400px;
    border-radius: 25px;
    border: none;
    overflow: hidden;
}
.movieimage{
    width: 270px;
    height: 400px;
    object-fit:fill;
    padding: 0;
    border: none;
}

.moviebutton:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.moviebutton:active {
    cursor: pointer;
    transform: scale(0.95);
}

.movietitle {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 2px;
    padding-top: 5px;
}
.moviedirector {
    font-size: 14px;
    padding-bottom: 1px;
}
.movieyear {
    color: #eee;
    font-size: 12px;
}
.refresh__button {
    background-color: green;
    display: flex;
    align-items: center;
    width: 150px;
    border-radius: 10px;
    color: white;
    border: none;
}
.refresh__image{
    max-width: 20px;
}
.refresh__button:hover {
    transform: scale(1.10);
    cursor: pointer;
}
.refresh__button:active {
    cursor: pointer;
    transform: scale(0.90);
}

table {
    display: none;
    width: 600px;
}
td,th {
    border: 1px solid white;
    align-items: flex-start;
    width: 200px;
}
.leaderboard__num {
    width: 10px;
}
